*.o
*.aux
*.bbl
*.blg
*.log
*.pyc
*.csv
.py*
*.pickle

.DS_Store
.metadata
.project
.classpath

experiment*
norms*
Plusone.jar

/build
/dist
/bin

/lda/*
/hlda/*
/ctm/*
/GibbsLDA/*
/Mallet/*

/lib/*.jar
/lib/lda-c-dist/lda
/lib/lda-c-dist/result
/lib/lda-c-dist/data
/lib/ctm-dist/ctm

/data/documents-out.json
/data/wordMap.txt
/data/*.html
/data/*/*.beta
/data/normfile

/src/datageneration/output/*
/src/datageneration/script.py

projector/data/*

/kmeans/*

/cooccurrence/data
