*.o
/Plusone.jar
/build
/dist
/experiment-*
/lib/lda-c-dist/lda
/lib/lda-c-dist/result
lib/lda-c-dist/data
lda/*
hlda/*
ctm/*
GibbsLDA/*
/lib/*.jar
/lib/jars/*.jar
.DS_Store
.metadata
.project
.classpath
.py*
bin
*.aux
*.pdf
*.log
*.pyc
data/experiment*
data/out2.json
src/datageneration/output/*
data/documents-out.json
src/datageneration/script.py

data/test.html

lib/ctm-dist/ctm
